.placeholder {
  background-color: rgb(39, 42, 45);
  border: 1px solid white;
  /* color: rgb(113, 173, 234); */
  color: white;
  text-align: center;
  opacity: 0.8;
}

.graph {
  background-color: rgb(39, 42, 45);
  border: 1px solid white;
  /* color: rgb(113, 173, 234); */
  color: white;
  text-align: center;
  opacity: 0.8;
  height: 50px;
  width: 50px;
}

.boxOutline {
  border: 2px solid white;
  background-color: rgb(34, 37, 41);
  color: white;
  opacity: 0.8;
}

table {
  opacity: 0.8;
}

section {
  border: 3px solid rgb(0, 57, 99);
  text-align: center;
}

section h2 {
  font-size: 10pt;
  color: white;
  text-transform: uppercase;
  text-align: left;
}

.data {
  font-size: 22pt;
  font-weight: bold;
  color: dark-blue;
}

.label {
  /* color: rgb(191, 110, 119); */
  color: crimson;
  font-size: 12pt;
  font-style: italic;
  text-transform: capitalize;
}

#clientTable>tbody>tr {
  border-left: 12px solid white;
  cursor: pointer;
  ;
}

#clientTable>tbody>tr.current_sprint {
  border-left: 12px solid teal;
}

/** tablesort **/
th[role=columnheader]:not(.no-sort) {
  cursor: pointer;
  caret-color: crimson;
}

th[role=columnheader]:not(.no-sort):after {
  content: '';
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: crimson transparent;
  visibility: hidden;
  opacity: 0;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
  border-bottom: none;
  border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
  visibility: visible;
  opacity: 0.7;
}

th[role=columnheader]:not(.no-sort):hover:after {
  visibility: visible;
  opacity: 1;
}

.navigation {
  background-color: lightgrey;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  color: white;
  text-align: center;
}

/* tooltip text w3schools*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

footer {
  color: "#ffffff";
}

.title {
  font-weight: bold;
  font-size: 30;
  text-align: center;
  background-color: #6495ED;
}

.info {
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  background-color: #E0FFFF;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  opacity: 0.80;
}

.infoTitle {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  color: white;
  text-align: center;
}

/* from W3*/
.bg-image {
  /* The image used */
  background-image: url(".../img/windTubrbine.jpg");
  /* Add the blur effect */
  /* filter: blur(8px); */
  /* -webkit-filter: blur(8px); */
  /* Full height */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  /* background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  */
  /* Black w/opacity/see-through */
  /* color: black; */
  /* font-weight: bold; */
  border: 3px solid #ffffff;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.form-inline {
  /* display: inline-block; */
  /* flex-flow: row wrap; */
  /* align-items: center; */
  color: white;
}

.form-inline label {
  margin: 5px 5px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 5px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: royalblue;
}

.form-inline {
  flex-direction: column;
  align-items: stretch;
}

div.container-login {
  /* background-color: #E0FFFF; */
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: #ffffff;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin: 15px;
  opacity: 0.80;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  opacity: 0.8;
}

#myBtn:hover {
  background-color: black;
  opacity: 1.0;
}

.clientButton {
  display: block;
}

/* CSS source https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_blurred_bg*/
