<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="css/standard.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Team 24</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#" align="center">Alternate Green Systems</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link " href="index.html">Home </a>
          <!-- <a class="nav-item nav-link" href="aboutus.html">About Us</a> -->
          <a class="nav-item nav-link active" href="client.html">Client Dashboard<span class="sr-only">(current)</span></a>
        </div>
      </div>
    </nav>

    <main id="clientMain" class="container-fluid">
      <div>
        <h2 align="center" id="clientHeader">Clients</h2>
      </div>


      <table class=" table table-dark" border="4" id="clientTable">
        <thead>
          <tr>
            <th>clientId</th>
            <th>clientName</th>
            <th>clientDescription</th>
            <th>gicsSector</th>
            <th>gicsSubIndustry</th>
            <th>headquarter</th>
            <th>notes</th>

          </tr>
        </thead>
        <tbody>
          <tr v-for="c in client" :key="c.id" :id="'client-' + c.clientId" @click="gotoSite(c.clientId)">
            <td>{{c.clientId}}</td>
            <td>{{c.clientName}}</td>
            <td>{{c.clientDescription}}</td>
            <td>{{c.gicsSector}}</td>
            <td>{{c.gicsSubIndustry}}</td>
            <td>{{c.headquarter}}</td>
            <td>{{c.notes}}</td>
        </tbody>
      </table>



      <form @submit.prevent="
          handleClientForm" align="center" id="newClientForm">
        <div class="container-login bg-dark text-white">
          <div class="form-group">
            <label for="client">Client: </label>

            <select id="client" v-model="clientForm.clientId" class="form-control" required>
              <option v-for="t in client" :key="t.clientId" :value="t.clientId">{{ t.clientName }}</option>
            </select>

          </div>

          <div class="form-group">
            <label>Add Notes</lable>
              <input id="notes" type="textarea" v-model="clientForm.notes" class="form-control" required>
          </div>


          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->

          <button type="submit" class="btn" id="submitNewComment" onClick="window.location.reload()">Save changes</button>
      </form>
      </div>

    </main>

    <footer class="footer bg-dark">
      <div class="container">
        <span>Team 24</span>
      </div>
    </footer>

    <!-- We need Bootstrap's modal JS, thus we also need jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- moment.js via CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/client.app.js"></script>

  </body>

</html>