<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" type="text/css" href="css/standard.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <title>Team 24 - project info</title>


  </head>

  <body>
    <main id="siteMain" class="container-fluid">
      <span v-for="s in client" :key="s.id" :id="'site-' + s.clientId">
        <h1 align="center"> {{s.clientName}}'s dashboard </h1>
      </span <div class="container-fluid">

      <!-- sensor time series data displays here -->

      <!-- <table class=" table table-dark" border="4" id="sensorTimeSeriesTable">
          <thead>
            <tr>
              <th>sensorTimeSeriesId</th>
              <th>sensorDeployedId</th>
              <th>dataCollectedDate</th>
              <th>output</th>
              <th>heatRate</th>
              <th>compressorEfficiency</th>
              <th>availability</th>
              <th>reliability</th>
              <th>trips</th>
              <th>starts</th>
            </tr>
          </thead>
          <tbody v-for="c in sensorts" :key="c.id">

            <td>{{c.sensorTimeSeriesId}}</td>
            <td>{{c.sensorDeployedId}}</td>
            <td>{{c.dataCollectedDate}}</td>
            <td>{{c.output}}</td>
            <td>{{c.heatRate}}</td>
            <td>{{c.compressorEfficiency}}</td>
            <td>{{c.availability}}</td>
            <td>{{c.reliability}}</td>
            <td>{{c.trips}}</td>
            <td>{{c.starts}}</td>
          </tbody>
        </table> -->

      <div class="row" v-show='toggle'>
        <div class="col placeholder" v-for="s in site" :key="s.id" :id="'site-' + s.siteId" @click="gotoTurbineDeployed(s.siteId)">
          <h2>{{s.siteName}}</h2>


          <ion-icon name="contact"></ion-icon><span>Primary Contact: {{s.primaryContact}}
          </span><br />

          <ion-icon name="resize"></ion-icon><span>Capacity: {{s.capacity}}
          </span><br />

          <ion-icon name="home"></ion-icon> <span>Address: {{s.addrLine1}}, {{s.addrCity}}, {{s.addrState}}, {{s.addrZip}}, {{s.addrCountry}}
          </span>
        </div>
      </div><br />
      <!-- <table class=" table table-dark" border="4" id="turbineDeployedTable" v-for="c in turbine" :key="c.id" @click="gotoSensorDeployed1(c.turbineDeployedId)" v-show='toggle'>
          <thead>
            <tr>
              <th>Turbine Deployed Id</th>
              <th>Turbine Id</th>
              <th>Site Id</th>
              <th>{{c.serialNumber}}</th>
              <th>{{c.deployedDate}}</th>
              <th>{{c.totalFiredHours}}</th>
              <th>{{c.totalStarts}}</th>
              <th>{{c.lastPlannedOutageDate}}</th>
              <th>{{c.lastUnplannedOutageDate}}</th>
          </thead>
          </tr>
          <tbody>
            <tr>
              <td>{{c.turbineDeployedId}}</td>
              <td>{{c.turbineId}}</td>
              <td>{{c.siteId}}</td>
              <td>{{c.serialNumber}}</td>
              <td>{{c.deployedDate}}</td>
              <td>{{c.totalFiredHours}}</td>
              <td>{{c.totalStarts}}</td>
              <td>{{c.lastPlannedOutageDate}}</td>
              <td>{{c.turbineName}}</td>
              <td>{{c.turbineDescription}}</td>

          </tbody>
        </table> -->
      <div class="row">
        <div class="col placeholder" v-for="c in turbine" :key="c.id" @click="gotoSensorDeployed1(c.turbineDeployedId)" v-show='toggle'>

          <div class="tooltip">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span class="tooltiptext">{{c.turbineDescription}}</span>
          </div>

          <h2>Turbine Name: {{c.turbineName}}</h2><br />
          Serial Number: {{c.serialNumber}}<br />
          Capacity: {{c.capacity}}<br />
          Ramp-up Time: {{c.rampUpTime}} <br />
          Total Fired Hours: {{c.totalFiredHours}} <br />
          Total Starts: {{c.totalStarts}} <br />
          Maintenance Interval: {{c.maintenanceInterval}} <br />

        </div>
      </div><br />
      <div class="row">
        <div class="col placeholder" v-for="s in senseall" :key="s.id" :id="'senseall-' + s.sensorId" @click="gotoSensorTimeSeries(s.sensorId)">
          <h2>{{s.sensorName}}</h2>


          <ion-icon name="date"></ion-icon><span>Deployed Date: {{s.deployedDate}}
          </span><br />

        </div>
      </div><br />
      <div class="row">
        <div class="col placeholder" v-for="s in senseavg" :key="s.id" :id="'senseavg-' + s.sensorId">
          <h3>Average Output: {{s.avgOutput}}</h2><br />
            <h3>Average Heatrate: {{s.avgHeatrate}}</h2><br />
              <h3>Average Compressor Efficiency: {{s.avgCompressorefficiency}}</h2><br />
                <h3>Average Availability: {{s.avgAvailability}}</h2><br />
                  <h3>Average Reliability: {{s.avgReliability}}</h2><br />


        </div>
      </div><br />

      <!-- if displaying sensor by tabe -->

      <!-- <table class=" table table-dark" border="4" id="sensorDeployedTable">
          <thead>
            <tr>
              <th>sensorDeployedId</th>
              <th>sensorId</th>
              <th>turbineDeployedId</th>
              <th>serialNumber</th>
              <th>deployedDate</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="c in sensordeployed" :key="c.id" :id="'sensorDeployed-' + c.sensorId" @click="gotoSensor(c.sensorId)">
              <td>{{c.sensorDeployedId}}</td>
              <td>{{c.sensorId}}</td>
              <td>{{c.turbineDeployedId}}</td>
              <td>{{c.serialNumber}}</td>
              <td>{{c.deployedDate}}</td>
          </tbody>
        </table> -->

      <!-- SENSOR TABLE GOES HERE -->

      <!-- <table class=" table table-dark" border="4" id="sensorTable">
          <thead>
            <tr>
              <th>sensorId</th>
              <th>sensorName</th>
              <th>sensorDescription</th>
              <th>manufacturer</th>
              <th>totalLifeExpectancyHours</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="c in sensor" :key="c.id" :id="'sensor-' +  c.sensorId" @click="gotoSensorTimeSeries(c.sensorId)">
              <td>{{c.sensorId}}</td>
              <td>{{c.sensorName}}
              </td>
              <td>{{c.sensorDescription}}</td>
              <td>{{c.manufacturer}}</td>
              <td>{{c.totalLifeExpectancyHours}}</td>
          </tbody>
        </table> -->

      <div class="row" v-show='toggle'>
        <div id="outputCharts" class="col boxOutline"></div>
        <div id="heatrateCharts" class="col boxOutline">
        </div>
        <div id="compressorEfficiencyCharts" class="col boxOutline"></div>
      </div>
      <div class="row" v-show='toggle'>
        <div id="hybridCharts" class="col boxOutline">
        </div>
        <div id="fireChart" class="col boxOutline">
        </div>
        <!-- <div id="reliabilityCharts" class="col boxOutline">
          </div> -->
        <!-- <div id="syncCharts" class="col boxOutline">
          </div> -->
      </div>
      </div>

    </main>


    <!-- We need Bootstrap's modal JS, thus we also need jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- moment.js via CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


    <script src="https://unpkg.com/ionicons@4.4.6/dist/ionicons.js"></script>

    <script src="js/siteTest.app.js"></script>
    <!-- <script src="js/themes/dark.js"></script> -->

  </body>

</html>