<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="css/standard.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Team 24</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="#">D&S</a>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="userInformation.html">User Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="table.html">Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="comment.html">Comment Dashboard</a>
          </li>
        </ul>
      </div>
    </nav>

    <main id="siteMain" class="container-fluid">
      <div>
        <h2 align="center" id="siteHeader">Sites</h2>
      </div>


      <table class=" table table-dark" border="4" id="siteTable">
        <thead>
          <tr>
            <th>siteId</th>
            <th>clientId</th>
            <th>siteName</th>
            <th>siteDescription</th>
            <th>primaryContact</th>
            <th>capacity</th>
            <th>commercialDate</th>
            <th>addrLine1</th>
            <th>addrLine2</th>
            <th>addrCity</th>
            <th>addrState</th>
            <th>addrZip</th>
            <th>addrCountry</th>


          </tr>
        </thead>
        <tbody v-for="c in site" :key="c.id">
          <!-- <tr v-for="c in site" :key="c.id" :id="'site-' + site.id" v-bind:class=" site.current_sprint ?  'current_sprint': '' " @click="gotoSite(site.id)"> -->
          <td>{{c.siteId}}</td>
          <td>{{c.clientId}}</td>
          <td>{{c.siteName}}</td>
          <td>{{c.siteDescription}}</td>
          <td>{{c.primaryContact}}</td>
          <td>{{c.capacity}}</td>
          <td>{{c.commercialDate}}</td>
          <td>{{c.addrLine1}}</td>
          <td>{{c.addrLine2}}</td>
          <td>{{c.addrCity}}</td>
          <td>{{c.addrState}}</td>
          <td>{{c.addrZip}}</td>
          <td>{{c.addrCountry}}</td>
        </tbody>
      </table>

    </main>

    <!-- We need Bootstrap's modal JS, thus we also need jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- moment.js via CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/site.app.js"></script>

  </body>

</html>